{% extends "base.html" %}

{% block title %}
    Main page
{% endblock title %}

{% block content %}

    <div class="container">

        <div class="card-body"><h3>Добро пожаловать на сайт "Здесь и сейчас"</h3>
        <p class="card-text">    Этот сайт помогает найти специалиста для решения Ваших задач.
           <br> Здесь Вы найдете того, кто нужен именно Вам.
            <br>Заполните форму заявки или загляните в каталог </p>
     <p class="card-text"><br>
         <b>Как пользоваться нашим сервисом?</b>
         <br>Все очень просто!
         <br>Заполните форму заявки и просто ждите звонка.
         Как только подходящий специалист найдется, он свяжется с вами
     </p>

    </div>
    </div>
    </div>


{% endblock content %}
